@page "/resources"
@using TimeTracking.UI.Blazor.Views.Components
@using TimeTracking.UI.Blazor.Views.Components.Resources

<PageLayoutDefault Title="Resources">
    <Button Type="primary" OnClick="()=>OpenAddResourceModalAsync()">Add Resource</Button>
    <br />
    <ResourcesTableComponent @ref="ResourcesTable" ResourceToEdit=SelectedResource></ResourcesTableComponent>
    <Title Level=3>Edit Resource Form Component</Title>
    <EditResourceFormComponent ResourceToEdit="SelectedResource" />
</PageLayoutDefault>


